* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: padding-box;
    
}
body {
    margin: 2%;
   text-align: center;
    background-image:url(images/index.png);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   filter: brightness(1.6);
}
header {
    
    display: flex;
    gap: 1%;
    border: 1px solid black;
    padding: 11px;
    margin: 40px;
     /* overflow: auto;  */
     
}
div {
    float: left;
} 

header img {
    width: 105px;
    height: 98px;
    flex: left;
   
}
header .block {
  
    align-content: center;
    text-align: left;
    
   color:rgb(120, 90, 102);;
}

main{
    margin: 7px;
}
section {
    border: 3px solid black;
    border-radius: 2rem;
    margin: 0 auto 1rem  ; /*auto is for keeping us 
    in the center*/
    max-width: 500px;
    font-size: 1.5rem;
    line-height: 3rem
    
}
 ul {
    list-style-type: none; 
} 
h2 {
    padding: 1rem;
    background-color: rgb(148, 86, 108);
     opacity: 0.6;
    font-size: XX-large;
    border-radius: 2rem 2rem 0 0; /* 0 for oben and unten don't use rem*/
}

 li {
    border: 1px solid rgb(26, 16, 16);
   
} 
li a {
    display: block;
     text-decoration: none;
     color:rgb(135, 102, 115);
}
li a:hover, 
li a:focus {
    background-color: rgb(64, 59, 61);
  
    cursor: pointer;
    opacity: 0.8;
}
li:last-child a {
     border-radius:0 0 2rem 2rem ;
}



